version: '3.8'

services:
  app:
    build: . 
    restart: always
    ports:
      - "${APP_PORT}:8080" # Mapea el puerto 80 de la VM al 8080 de Spring Boot
    environment:

      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB} 
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      

      RECAPTCHA_SECRET: ${RECAPTCHA_SECRET}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      SPRING_PROFILES_ACTIVE: prod
      

    depends_on:
      - db

  db:
    image: postgres:15-alpine # Imagen oficial de PostgreSQL
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      # Persistencia de Datos: Guarda los datos en un volumen de la VM
      - db_data:/var/lib/postgresql/data
      
volumes:
  # Define el volumen que persistir los datos de la base de datos
  db_data: