version: '3.8'
services:
  app:
    build: . 
    restart: always
    ports:
      - "${APP_PORT}:8080"
    environment:

      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB} 
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      

      RECAPTCHA_SECRET: ${RECAPTCHA_SECRET}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      SPRING_PROFILES_ACTIVE: prod
    depends_on:
      - db
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: